
doctype html
html
    head
        title= "SWOT PROTOTYPE"
        style
            include ../public/stylesheets/style.css
        script
            include ../resources/extlibs/socket.io.js
    body
    block content
        <div id="lamp" class="lamp-off"></div>
        script(type='text/javascript').
            (function () {
                var socket = io.connect('http://localhost');
                socket.on('switch', function (light) {
                    if (light == "off") document.getElementById("lamp").className = "lamp-off";
                    if (light == "on") document.getElementById("lamp").className = "lamp-on";
                });
            }());




