#lamp {
    width: 798px;
    height: 1128px;
    margin: 0 auto;
}

.lamp-on {
    background: transparent url('../lamp_on.jpg') no-repeat center center;
}

.lamp-off {
    background: transparent url('../lamp_off.jpg') no-repeat center center;
}